input.SEARCH_criteria_value, select.SEARCH_criteria_value{
    flex-grow: 2;
    width:0;
}

.MPD_search form{
    border-bottom-style: solid;
    flex-grow: 0;
    font-size: 0.75em;
}

.SEARCH_criteria_row {
    margin-top: 1em;
}

div.SEARCH_results_control{
    flex-grow: 0;
    padding: 1em;
    border-top-style: solid;
    font-size: 0.75em;
}

.SEARCH_results{
    overflow-x: auto;
}

.MPD_search .SEARCH_criteria{
    margin-bottom: 1em;
    width: 100%;
    overflow-y: auto;
}

.MPD_search{
    overflow-y: auto;
    height: 0;
}

.SEARCH_control {
    margin: 1em;
}

.SEARCH_criteria_control{
    border-bottom-style: solid;
    padding-bottom: 1em;
}

.SEARCH_remove.MPD_button{
    background-image:  url(../img/x.svg);
    background-position: left center;
    padding-left: 1.5em;
    margin: auto 1em;
}

.SEARCH_add_criteria.MPD_button{
    background-image:  url(../img/plus.svg);
    background-position: left center;
    padding-left: 1.5em;
    margin-left: 1em;
}

.SEARCH_clear_criteria.MPD_button{
    background-image:  url(../img/trash.svg);
    background-position: left center;
    padding-left: 1.5em;
    margin-left: 1em;
}

.SEARCH_do_search.MPD_button{
    background-image:  url(../img/magnifying-glass.svg);
    background-position: left center;
    padding-left: 1.5em;
    margin-left: 1em;
}

.SEARCH_expand.MPD_button{
    background-image:  url(../img/expand-down.svg);
    background-position: left center;
    padding-left: 1.5em;
    margin-left: 1em;
}

.SEARCH_collapse.MPD_button{
    background-image:  url(../img/collapse-up.svg);
    background-position: left center;
    padding-left: 1.5em;
    margin-left: 1em;
}


.SEARCH_append_to_queue.MPD_button{
    background-image:  url(../img/plus.svg);
    background-position: left center;
    padding-left: 1.5em;
    margin-left: 1em;
}

.SEARCH_append_to_playlist.MPD_button{
    background-image:  url(../img/list.svg);
    background-position: left center;
    padding-left: 1.5em;
    margin-left: 1em;
}

.MPD_search .LIST_song_add{
    width: 1em;
    display: inline-block;
    margin: 0 0 0 1em;
    background-image:  url(../img/plus.svg);
}

.MPD_search .LIST_song_add_playlist{
    width: 1em;
    display: inline-block;
    margin: 0 0 0 1em;
    background-image:  url(../img/list.svg);
}
