.MPD_outputs{
    height: 0;
    overflow-y: auto;
    margin-left: 1em;
}

.OUTPUT_output{
    list-style-type: none;
    border-style: solid;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
}

.OUTPUT_output .MPD_button{
    font-size: 0.75em;
    display: inline-block;
    padding-left: 1.5em;
    margin-left: 0.75em;
}

.OUTPUT_output .OUTPUT_switch_to{
    background-image:  url(../img/pick.svg);
}

.OUTPUT_output .OUTPUT_enable{
    background-image:  url(../img/plus.svg);
}

.OUTPUT_output .OUTPUT_disable{
    background-image:  url(../img/minus.svg);
    display:none;
}

.OUTPUT_output.selected .OUTPUT_enable{
    display:none;
}

.OUTPUT_output.selected .OUTPUT_disable{
    display:inline;
}
