.MPD_controller{
    margin: 0.5em;
    flex-grow: 0;
    height: 60px;
}

.MPD_controller_extra_info div * {
    font-size: 0.8em;
}

.MPD_play.MPD_button, .MPD_pause.MPD_button{
    width: 60px;
    margin: 0;
    flex-shrink: 0.5;
}

.MPD_play.MPD_button{
    background-image: url(../img/media-play.svg);
}

.MPD_pause.MPD_button{
    background-image: url(../img/media-pause.svg);
}

.MPD_prev.MPD_button, .MPD_next.MPD_button{
    width: 30px;
}

.MPD_prev.MPD_button{
    background-image: url(../img/media-skip-backward.svg);
}

.MPD_next.MPD_button{
    background-image: url(../img/media-skip-forward.svg);
}

.MPD_controller div.MPD_button{
    flex-grow: 0;
}

.MPD_controller .MPD_controller_middle_upper_controls{
    flex-grow: 0;
}

div.MPD_controller_volume_container{
    flex-grow: 0;
}

.MPD_controller .MPD_controller_volume_icons{
    flex-grow: 0;
    margin-left: 10px;
}

.MPD_controller .MPD_controller_volume_icons .MPD_icon {
    border: 1px solid transparent;
    border-radius: 50%;
}

.MPD_controller .MPD_controller_volume_icons .MPD_icon.mute {
    border-color: red;
}

.MPD_controller .MPD_volume{
    flex-grow: 0;
    width: 60px;
    margin-left: 10px;
}

.MPD_controller input[type=range].MPD_seek{
    width: auto;
    padding: 0;
    margin: auto 10px;
}

@media screen and (min-width: 720px) {
    .MPD_controller_current_song_title{
        font-size: 1.5em;
    }
}

div.MPD_controller_playing_info{
    flex-grow: 0;
}
@media screen and (max-width: 720px) {
    div.MPD_controller_playing_info{
        display: none;
    }
}

div.MPD_controller_extra_info{
    flex-grow: 1;
    max-width: 75px;
    text-align: right;
    font-size: 0.5em;
    margin-left: 10px;
}

@media screen and (min-width: 720px) {
    div.MPD_controller_extra_info{
        max-width: 200px;
        font-size: 1em;
    }
}
