/************\
|* settings *|
\************/

[data-tab_page=settings].TAB_page{
    overflow-y: auto;
    height: 0;
}

.MPD_setting th{
    padding: 2em 1em;
    text-align: right;
}

.MPD_setting .MPD_button{
    padding-left: 1.5em;
}

.MPD_setting_update_db.MPD_button{
    background-image: url(../img/save.svg);
}

.MPD_reset_color.MPD_button{
    background-image: url(../img/reload.svg);
}
