.MPD_queue{
    height:0;
}

.MPD_queue .LIST_header{
    flex-grow:0;
    overflow-x: auto;
    min-height: 1.5em;
    white-space: nowrap;
}

.LIST_song_toolbar .LIST_song_play{
    min-width: 1em;
    margin: 0 0 0 1em;
    background-image:  url(../img/media-play.svg);
}

.LIST_song_toolbar .LIST_song_add{
    min-width: 1em;
    margin: 0 0 0 1em;
    background-image:  url(../img/plus.svg);
}

.LIST_song_toolbar .LIST_song_remove{
    min-width: 1em;
    margin: 0 0 0 1em;
    background-image:  url(../img/trash.svg);
}

.LIST_clear_queue.MPD_button{
    background-image:  url(../img/trash.svg);
    background-position: left center;
    padding-left: 2em;
}

.LIST_save_queue.MPD_button{
    background-image:  url(../img/save.svg);
    background-position: left center;
    padding-left: 2em;
}

.LIST_remove_current.MPD_button{
    background-image:  url(../img/x.svg);
    background-position: left center;
    padding-left: 2em;
}

.LIST_song_toolbar .LIST_show_current{
    background-position: left center;
    padding-left: 2em;
    background-image:  url(../img/eye.svg);
}

.LIST_song_title{
    cursor: pointer;
    text-decoration: underline;
}
