/************\
|* settings *|
\************/

[data-tab_page=settings].TAB_page{
    overflow-y: auto;
    height: 0;
}

.MPD_setting{
    margin-left:2em;
    font-size: :2em;
}

.MPD_setting input{
    margin: 2em;
}

.MPD_setting th{
    text-align: right;
}

.MPD_setting .MPD_button{
    padding-left: 1.5em;
}

.MPD_setting_update_db.MPD_button{
    background-image: url(../img/save.svg);
}
