.MPD_playlist{
    height:0;
}

.LIST_playlist_toolbar{
    min-height: 3em;
    margin-bottom: 0;
    overflow-x: auto;
    white-space: nowrap;
}

.LIST_playlist_toolbar select{
    position: fixed;
    width:calc(100% - 1em);
}

.LIST_playlist_toolbar .MPD_button{
    margin-top: 1em;
}

.LIST_load_playlist.MPD_button{
    background-image:  url(../img/plus.svg);
    background-position: left center;
    padding-left: 2.5em;
    margin-left:1em;
}

.LIST_delete_playlist.MPD_button{
    background-image:  url(../img/trash.svg);
    background-position: left center;
    padding-left: 20px;
    margin-left:1em;
}

.LIST_rename_playlist.MPD_button{
    background-image:  url(../img/rename.svg);
    background-position: left center;
    padding-left: 20px;
    margin-left:1em;
}

.MPD_playlist_list{
    width:100%;
    margin-bottom: 10px;
}
