.MPD_queue{
    height:0;
}

.MPD_queue .LIST_header{
    flex-grow:0;
    overflow-x: auto;
    min-height: 1.5em;
    white-space: nowrap;
}

.LIST_song_toolbar .LIST_song_play{
    background-image: url(../img/media-play.svg);
}

.LIST_song_toolbar .LIST_song_add{
    background-image: url(../img/plus.svg);
}

.LIST_song_toolbar .LIST_song_remove{
    background-image: url(../img/trash.svg);
}

.LIST_clear_queue.MPD_button{
    background-image: url(../img/trash.svg);
}

.LIST_save_queue.MPD_button{
    background-image: url(../img/save.svg);
}

.LIST_remove_current.MPD_button{
    background-image: url(../img/x.svg);
}

.LIST_song_toolbar .LIST_show_current{
    background-image: url(../img/eye.svg);
}

.LIST_song_title{
    cursor: pointer;
    text-decoration: underline;
}


.LIST_queue_find_toolbar{
    padding:0;
}

.LIST_queue_find.MPD_button{
    background-image:  url(../img/magnifying-glass.svg);
}

.LIST_queue_find_quit.MPD_button{
    background-image:  url(../img/x.svg);
}

.LIST_queue_find_prev.MPD_button{
    background-image:  url(../img/chevron-left.svg);
}

.LIST_queue_find_next.MPD_button{
    background-image:  url(../img/chevron-right.svg);
}

.LIST_queue_find_value{
    width:100%;
    padding:0;
}
